@font-face {
    font-family: 'IMHyemin';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminRegular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'IMHyemin';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/dgb/IMHyeminBold.ttf') format("truetype");
    font-display: swap;
}


/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
    --f_hyemin: 'IMHyemin';
    --f_josefin: 'Josefin Sans', sans-serif;
    --f_noto: 'Noto Sans KR', sans-serif;
    --main-color: #1C089D;
    --sub-color: #5730CC;
    --sub-color-light: #B9A0F9;
    --bg-color: #F7F6FE;
    --text-color: #272727;
}

body {
    color: var(--text-color);
    font-family: var(--f_noto);
    box-sizing: border-box;
}

section {
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 80px;
    width: 100%;
    max-width: 1024px;
}

.wrapper {
    width: 100%;
    max-width: 912px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 폰트 */
.notof20b {
    font-family: var(--f_noto);
    font-size: 20px;
    font-weight: 700;
}

.notof16r {
    font-family: var(--f_noto);
    font-size: 16px;
    font-weight: 400;
}

.hyef16 {
    font-family: var(--f_hyemin);
    font-size: 18px;
}

/* 버튼 */
.single {
    font-family: var(--f_josefin);
    font-family: var(--f_noto);
    font-weight: 700;
    color: white;
    background-color: var(--main-color);
    padding: 9px 24px;
    cursor: pointer;
}

.double_box {
    padding: 12px 24px;
    font-family: var(--f_josefin);
    font-weight: 700;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

.font_btn {
    background-color: #E2DBF9;
    font-family: var(--f_hyemin);
    font-size: 20px;
    padding: 10px 22px;
    cursor: pointer;
}

/* 섹션 타이틀 */
.section__title {
    text-align: center;
    font-family: var(--f_noto);
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 10px;
}

.section__sub {
    text-align: center;
    font-family: var(--f_hyemin);
    font-size: 18px;
    margin-bottom: 40px;
    color: var(--main-color);
}

/* 달력 */

.calendar__box {display: none;}
.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}


/* 네비게이션 */
#nav {
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.nav__menus {
    display: flex;
    align-items: center;
    font-family: var(--f_noto);
    font-size: 16px;
    color: var(--main-color);
    font-weight: 700;
}

.nav__menu {
    margin-right: 36px;
}

.nav__menu:last-child {
    margin-right: 0;
}

.nav__menu.login {
    font-family: var(--f_josefin);
}

/* 키비쥬얼 */
#visual {
    padding: 0;
}

#visual .wrapper {
    position: relative;
    max-height: 546px;
    background-color: #272727;
    max-width: 1024px;
}


/* 키비쥬얼 배경 */
.background {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

#goedi {
    z-index: 4;
    /* position: absolute; */
    bottom: 0;
}

#wearegoedi {
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--f_noto);
    font-weight: 700;
    font-size: 92px;
    text-align: center;
    color: var(--sub-color-light);
    text-shadow: 0px 4px 4px #5730CC;
    z-index: 3;
}

#landscape {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 키비쥬얼 배경 끝 */

.visual__key {
    font-family: var(--f_noto);
    position: absolute;
    top: 40%;
    left: 7%;
    z-index: 9;
}

.visual__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.visual__sub {
    margin-bottom: 17px;
}

.visual__sub {
    color: var(--sub-color);
}

.double_box.membership {
    z-index: 6;
    position: relative;
}

.double_box.membership::after {
    position: absolute;
    content: '';
    left: 16px;
    top: 5px;
    z-index: 5;
    width: 100%;
    height: 100%;
    border: 1px solid #5730CC;
}

/* 인트로 */

#intro .wrapper {
    width: inherit;
    position: relative;
}

.intro_video {
    width: 100%;
    max-width: 854px;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
}


/* 요즘영상 */
#recently {
    background-color: var(--bg-color);
    border-radius: 50px;
}


#recently .wrapper {
    display: initial;
}


.recently__contents {
    margin: 0 auto;
    width: 100%;
    max-width: 912px;
    overflow: hidden;
}


.recently__content>div {
    overflow: hidden;
    border-radius: 14px;
}

.recently__content .recently__img {
    width: 100%;
    aspect-ratio: 214/235;
    height: 470px;
    background-color: var(--bg-color);
    transition: all 0.3s;
}

.recently__content .recently__img:hover {
    transform: scale(1.1);
}

.recently__content.left {
    float: left;
    width: calc(50% - 23px);
}

.recently__content.right {
    float: right;
    width: calc(50% - 23px);
}

.recently__content.c02 {
    margin-top: 97px;
}

.recently__content.c03,
.c04 {
    margin-top: 60px;
}



/* 특별함 */
#characteristic .wrapper {
    align-items: initial;
}

.card__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.good__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 33px 27px 60px;
    text-align: center;
    width: 255px;
    box-sizing: border-box;
}

.card_top {
    width: 95px;
    height: 95px;
    box-shadow: 0px 4px 15px 2px rgba(81, 33, 218, 0.16), inset 4px 4px 4px rgba(47, 25, 112, 0.22);
    border-radius: 50px;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_top img {
    width: 60px;
    height: 60px;
}

.card_mid {
    font-family: var(--f_josefin);
    margin-bottom: 22px;
    color: var(--main-color);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
}

.card_bottom {
    font-size: 14px;
}

/* 중간배너 */
#mid_banner {
    max-width: none;
    background-color: #EDF6FF;
    padding-bottom: 42px;
    padding-top: 42px;
}

.mid_banner__contents {
    overflow: hidden;
    position: relative;
    margin-bottom: 27px;
}

.mid_banner__contents img {
    left: 50%;
    margin-left: -calc((100%/2));
}

/* 추천여행지 */

#reco {
    max-width: initial;
}

#reco .wrapper {
    max-width: initial;
}

.reco_vedio {
    width: 100%;
    max-width: 912px;
    margin-bottom: 40px;
    aspect-ratio: 16/9;
}

.pick__contents.content2 {
    max-width: initial;
    overflow: hidden;
}

.pick__contents .inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.reco__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reco__title img {
    margin-right: 8px;
}

.content1 .reco__title {
    margin-bottom: 0;
}

#reco .intro_video {
    width: 100%;
    max-width: 1024px;
}

.pick__contents {
    max-width: 912px;
    width: 100%;
    margin-bottom: 40px;
}

.vedio__name {
    display: inline-block;
}

.pick__video__contents {
    display: flex;
    gap: 1.5em;
}

.poster {
    border-radius: 15px;
}

.poster img {
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

.pick__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pick__detail__text {
    text-align: justify;
}

/* 카카오 지도 */
.pick__location {
    position: relative;
    margin: 0;
    max-width: 460px;
    width: 100%;
    border: 1px solid #E2DBF9;
    border-radius: 15px;
}

.pick__location>.root_daum_roughmap {

    border-radius: 15px;
    width: 100%;
    padding-bottom: 56.25%;
}

.pick__location>.root_daum_roughmap .wrap_map {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pick__location .hide {
    display: none;
}




/* 영상 속 하이라이트 + 슬라이드 */
.pick__contents.content2 .reco__title {
    max-width: 912px;
    margin: 0 auto 20px;
}

.swiper.recoslider {
    max-width: 912px;
    overflow: visible;
}

.swiper-slide.recoslider {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: var(--sub-color-light);
    margin-left: 1em;
}

.swiper-slide.recoslider img {
    object-fit: cover;
}

/* 1박 2일 우리의 여행 코스 */
.pick__contents.content3 {
    max-width: initial;
    overflow: hidden;
    margin-bottom: 0;
}

.pick__contents.content3 .reco__title,
.reco__information,
.day__box {
    max-width: 912px;
    margin: 0 auto 20px;
}

.day {
    display: inline-block;
    font-family: var(--f_noto);
    font-size: 24px;
    padding: 15px 25px;
    background-color: #E2DBF9;
    color: var(--main-color);
    font-weight: 700;
    border-radius: 20px;
}

.day_count {
    display: inline;
}

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 912px;
    width: 100%;
    margin: 0 auto 40px;
    overflow: visible;
}

.plan::before {
    position: absolute;
    content: '';
    width: 1.5px;
    height: 100%;
    background-color: #E2DBF9;
    left: 7px;
}

.plan__explain {
    position: relative;
    padding: 0 0 0 34px;
}

.plan__explain::before {
    position: absolute;
    content: url('../img/Oo.svg');
    left: 0px;
}

/* 포토 슬라이더  */
.swiper.photo_slider {
    padding: 0 0 0 34px;
}

.swiper-slide.photo_slider {
    width: 463px;
    height: 302px;
    background-color: cadetblue;
    margin-left: 1em;
}

.swiper-slide.photo_slider:first-child {
    margin-left: 0;
}

/* 포토 슬라이더 끝 */

.reco__information:last-child {
    margin-bottom: 0;
}